<h1>Ellie's info</h1>
<br>
<p>
  Hello my name is Ellie and I am a Halloween nutter. This year, I'll be traveling to London to celebrate Halloween and Dia de Los Muertos in style. I have used this newly minted app to capture some of my ideas. Feel free to add your own!
<br>
<br>
  xoxo, Ellie
</p>
